# ==============================
# ESP-IDF project stable .gitignore
# ==============================

# Build artefacts (no necesarios para compilar desde cero)
build/
build.clang/
*.bin
*.elf
*.map
*.log
*.tmp

# Espressif tools cache (reproducible desde IDF)
.espressif/
.cache/

# SDK config backups (el sdkconfig principal sí se guarda)
sdkconfig.old
sdkconfig.defaults
sdkconfig.ci

# IDE / Editores
.vscode/
.idea/
*.swp
*.swo

# Python virtual env
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

